<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>savestudent</title>
</head>
<style>
    form{
        display: flex;
        flex-direction: column;
        width: 10%;
        
    }
    
    input{
        margin-bottom: 1rem;
    }
    button{
        width: fit-content;
    }
</style>
<body>
<form method="post">
    {%  csrf_token %}
    <label>First Name</label>
    <input type="text" name="fname">
    <label>Last Name</label>
    <input type="text" name="lname">
    <lable>Age</lable>
    <input type="text" name="age">
    <label>Email</label>
    <input type="email" name="email">
    <button type="submit">Submit</button>
    <a href="/list/">List</a>
</body>
</html>